* body {
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto', sans-serif;  
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    display: flex;
    flex-direction: column;
  }

  container{
    padding: 5%;
    min-height: 10rem;
    width: 100%;
    border-bottom: solid 1px black;
  }

  /* global element styling */

  p {
    max-width: 60%;
    margin: auto;
    padding: 2%;
  }

button{
    background-color:#a1ffa1;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 10%;
}

button:hover{
  background-color: orange;
}

img{
  position: absolute;
  z-index: -1;
}

/* Header styling */

h3{
  padding-bottom: 2%;
}

.page-container h1, .page-container h2, .page-container h4, .page-container h5, .page-container h6, .page-containerp{
  padding: 1%;
}

.section-header{
  color: orange;
}

  /* Navbar styling */

#navbar {
    background-color:#FF8787;
    display: flex;
    height: 4.5rem;
}

#logo{
    padding-left: 2%;
    padding-top: 0.5%;
}

#logo div{
    display: inline-block;
    z-index: 1;
}

#logo h1 a, #logo p a{
    display: inline-block;
    color: white;
    padding: auto;  
}

#logo h1 a{
    font-size: 2rem;
    margin-left: 5%;
}

#logo p a{  
    font-size: 0.8rem;
    margin-left: 2%;
    color: white;
    font-weight: bold;
}

#logo h1 a:hover, #logo p a:hover{
  color: black;
}

/* logo easter-egg */

.logoFont0{
  font-family: 'Pacifico', cursive !important;
}

.logoFont1{
  font-family: 'Rubik Storm', cursive;
}

.logoFont2{
  font-family: 'Rubik Gemstones', cursive;
}

.logoFont3{
  font-family: 'La Belle Aurore', cursive;

}

  /* Landing-Section styling */

  .intro-sub-container{
    position: relative;
    right: 200px;
    top: 30px;
    padding: 7.75%;
  }

  .intro-icon-container i{
    font-size: 2rem;
    padding: 0.5%;
  }

  .intro-icon-container i:hover{
    color: orange;
  }

  /* About styling */

  #about{
    background-color:#FEFCF3;
  }

  /* Strengths styling */

  #strengths{
  }

  /* Experience styling */

  #experience{
    background-color: #F5EBE0;
  }

  /* Education styling */

  #education{
  }

  /* Highlights styling */

  #highlights{
    background-color: #F5EBE0;
  }

  /* Projects styling */

  #projects{
  }

  /* CTA styling */

  #cta{
    background-color: #FFE9B1;
  }

  /* Footer styling */

  #footer{
    background-color:#ffa1a1;
    display: flex;
    height: 8rem;
    color: white;
    width: 100%;
}

#footer .footer-social-media{
    flex-grow: 1;
    margin: 0.5%;
    padding-bottom: 1%;
}

#footer .about-app{
    flex-grow: 1;
    margin: 0.5%;
}

#footer i{
    font-size: 1.3rem;
    padding-bottom: 2%;
}

#footer p{
  padding: 0%;
}

#footer i:hover{
  color: black;
}

#footer h5{
  padding-top: 1%;
}

